{#
/**
 * @file
 * Default theme implementation to display a formatted image field.
 *
 * Available variables:
 * - image: A collection of image data.
 * - image_style: An optional image style.
 * - url: An optional URL the image can be linked to.
 *
 * @see template_preprocess_image_formatter()
 *
 * @ingroup themeable
 */
#}
{% spaceless %}
  {% if url %}
    {{ url }}
  {% elseif image %}
    {{ image }}
  {% elseif image_base64 %}
    {{ image_base64 }}
  {% endif %}
{% endspaceless %}
